SOA/XML Web Services/WsCalc/WsCalc/Connected Services/ConvWs/TempConverterEndpointService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://learnwebservices.com/services/tempconverter" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TempConverterEndpointService" targetNamespace="http://learnwebservices.com/services/tempconverter" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://learnwebservices.com/services/tempconverter" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://learnwebservices.com/services/tempconverter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="celsiusToFahrenheitRequest">
        <xs:sequence>
          <xs:element name="TemperatureInCelsius" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="celsiusToFahrenheitResponse">
        <xs:sequence>
          <xs:element name="TemperatureInFahrenheit" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fahrenheitToCelsiusRequest">
        <xs:sequence>
          <xs:element name="TemperatureInFahrenheit" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fahrenheitToCelsiusResponse">
        <xs:sequence>
          <xs:element name="TemperatureInCelsius" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CelsiusToFahrenheitRequest" nillable="true" type="tns:celsiusToFahrenheitRequest" />
      <xs:element name="CelsiusToFahrenheitResponse" nillable="true" type="tns:celsiusToFahrenheitResponse" />
      <xs:element name="FahrenheitToCelsiusRequest" nillable="true" type="tns:fahrenheitToCelsiusRequest" />
      <xs:element name="FahrenheitToCelsiusResponse" nillable="true" type="tns:fahrenheitToCelsiusResponse" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CelsiusToFahrenheit">
    <wsdl:part name="CelsiusToFahrenheitRequest" element="tns:CelsiusToFahrenheitRequest" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsius">
    <wsdl:part name="FahrenheitToCelsiusRequest" element="tns:FahrenheitToCelsiusRequest" />
  </wsdl:message>
  <wsdl:message name="CelsiusToFahrenheitResponse">
    <wsdl:part name="CelsiusToFahrenheitResponse" element="tns:CelsiusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsiusResponse">
    <wsdl:part name="FahrenheitToCelsiusResponse" element="tns:FahrenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="TempConverterEndpoint">
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:input name="CelsiusToFahrenheit" message="tns:CelsiusToFahrenheit" />
      <wsdl:output name="CelsiusToFahrenheitResponse" message="tns:CelsiusToFahrenheitResponse" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:input name="FahrenheitToCelsius" message="tns:FahrenheitToCelsius" />
      <wsdl:output name="FahrenheitToCelsiusResponse" message="tns:FahrenheitToCelsiusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TempConverterEndpointServiceSoapBinding" type="tns:TempConverterEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="CelsiusToFahrenheit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CelsiusToFahrenheitResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="FahrenheitToCelsius">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FahrenheitToCelsiusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempConverterEndpointService">
    <wsdl:port name="TempConverterEndpointPort" binding="tns:TempConverterEndpointServiceSoapBinding">
      <soap:address location="https://www.learnwebservices.com/services/tempconverter" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>