SOA/RESTful Services/REST_WCF_Clients/UsaBDWin/Connected Services/HotelWS/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6418/Service.svc?xsd=xsd2" namespace="http://www.ipca.pt/isi" />
  <xs:import schemaLocation="http://localhost:6418/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetHotelsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.ipca.pt/isi" minOccurs="0" name="GetHotelsListResult" nillable="true" type="q1:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelsListJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelsListJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.ipca.pt/isi" minOccurs="0" name="GetHotelsListJsonResult" nillable="true" type="q2:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://www.ipca.pt/isi" minOccurs="0" name="GetHotelByIdResult" nillable="true" type="q3:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelByIDII">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelByIDIIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.ipca.pt/isi" minOccurs="0" name="GetHotelByIDIIResult" nillable="true" type="q4:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hotelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHotelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.ipca.pt/isi" minOccurs="0" name="h" nillable="true" type="q5:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.ipca.pt/isi" minOccurs="0" name="AddOneHotelResult" nillable="true" type="q6:ArrayOfHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hotelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="capacity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHotelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHotelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Auth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.ipca.pt/isi" minOccurs="0" name="data" nillable="true" type="q7:RequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AuthResult" nillable="true" type="q8:ResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>