SOA/XML Web Services/Clientes/Cliente1/Connected Services/WsExt2/Calc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xxx.pt/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xxx.pt/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xxx.pt/">
      <s:element name="Power">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="e" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PowerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PowerResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Soma">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SomaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SomaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Currencies">
        <s:complexType />
      </s:element>
      <s:element name="CurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrenciesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PowerSoapIn">
    <wsdl:part name="parameters" element="tns:Power" />
  </wsdl:message>
  <wsdl:message name="PowerSoapOut">
    <wsdl:part name="parameters" element="tns:PowerResponse" />
  </wsdl:message>
  <wsdl:message name="SomaSoapIn">
    <wsdl:part name="parameters" element="tns:Soma" />
  </wsdl:message>
  <wsdl:message name="SomaSoapOut">
    <wsdl:part name="parameters" element="tns:SomaResponse" />
  </wsdl:message>
  <wsdl:message name="CurrenciesSoapIn">
    <wsdl:part name="parameters" element="tns:Currencies" />
  </wsdl:message>
  <wsdl:message name="CurrenciesSoapOut">
    <wsdl:part name="parameters" element="tns:CurrenciesResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcPlusSoap">
    <wsdl:operation name="Power">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cálculo da Potência de um número</wsdl:documentation>
      <wsdl:input message="tns:PowerSoapIn" />
      <wsdl:output message="tns:PowerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calcula a Soma de dois valores</wsdl:documentation>
      <wsdl:input message="tns:SomaSoapIn" />
      <wsdl:output message="tns:SomaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Currencies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get All Currencies</wsdl:documentation>
      <wsdl:input message="tns:CurrenciesSoapIn" />
      <wsdl:output message="tns:CurrenciesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcPlusSoap" type="tns:CalcPlusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Power">
      <soap:operation soapAction="http://xxx.pt/Power" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <soap:operation soapAction="http://xxx.pt/Soma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Currencies">
      <soap:operation soapAction="http://xxx.pt/Currencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcPlusSoap12" type="tns:CalcPlusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Power">
      <soap12:operation soapAction="http://xxx.pt/Power" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Soma">
      <soap12:operation soapAction="http://xxx.pt/Soma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Currencies">
      <soap12:operation soapAction="http://xxx.pt/Currencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcPlus">
    <wsdl:port name="CalcPlusSoap" binding="tns:CalcPlusSoap">
      <soap:address location="https://localhost:44337/Services/Calc.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcPlusSoap12" binding="tns:CalcPlusSoap12">
      <soap12:address location="https://localhost:44337/Services/Calc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>