SOA/WCF Web Service/Clientes/SOAP UsaBD/I/UsaBDWin/Connected Services/WSBD1/DB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DB" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63388/DB.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63388/DB.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63388/DB.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDB_GetAllFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlights" />
  </wsdl:message>
  <wsdl:message name="IDB_GetAllFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IDB_GetAllHoteisCidade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHoteisCidade" />
  </wsdl:message>
  <wsdl:message name="IDB_GetAllHoteisCidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHoteisCidadeResponse" />
  </wsdl:message>
  <wsdl:message name="IDB_GetAllHoteisComCapacidade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHoteisComCapacidade" />
  </wsdl:message>
  <wsdl:message name="IDB_GetAllHoteisComCapacidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllHoteisComCapacidadeResponse" />
  </wsdl:message>
  <wsdl:portType name="IDB">
    <wsdl:operation name="GetAllFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IDB/GetAllFlights" message="tns:IDB_GetAllFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDB/GetAllFlightsResponse" message="tns:IDB_GetAllFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHoteisCidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IDB/GetAllHoteisCidade" message="tns:IDB_GetAllHoteisCidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDB/GetAllHoteisCidadeResponse" message="tns:IDB_GetAllHoteisCidade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllHoteisComCapacidade">
      <wsdl:input wsaw:Action="http://tempuri.org/IDB/GetAllHoteisComCapacidade" message="tns:IDB_GetAllHoteisComCapacidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDB/GetAllHoteisComCapacidadeResponse" message="tns:IDB_GetAllHoteisComCapacidade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDB" type="tns:IDB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFlights">
      <soap:operation soapAction="http://tempuri.org/IDB/GetAllFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHoteisCidade">
      <soap:operation soapAction="http://tempuri.org/IDB/GetAllHoteisCidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllHoteisComCapacidade">
      <soap:operation soapAction="http://tempuri.org/IDB/GetAllHoteisComCapacidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DB">
    <wsdl:port name="BasicHttpBinding_IDB" binding="tns:BasicHttpBinding_IDB">
      <soap:address location="http://localhost:63388/DB.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>